/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./public/fonts/GeneralSans/css/general-sans.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "GeneralSans-Variable";
  src: url(/_next/static/media/GeneralSans-Variable.d9532b38.woff2) format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-VariableItalic";
  src: url(/_next/static/media/GeneralSans-VariableItalic.97ff73ed.woff2) format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Extralight";
  src: url(/_next/static/media/GeneralSans-Extralight.5df57571.woff2) format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-ExtralightItalic";
  src: url(/_next/static/media/GeneralSans-ExtralightItalic.cbe375dd.woff2) format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Light";
  src: url(/_next/static/media/GeneralSans-Light.ff2d91b9.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-LightItalic";
  src: url(/_next/static/media/GeneralSans-LightItalic.7d05c1e9.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url(/_next/static/media/GeneralSans-Regular.eb38d80f.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-Italic";
  src: url(/_next/static/media/GeneralSans-Italic.1591f333.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Medium";
  src: url(/_next/static/media/GeneralSans-Medium.c769b9ad.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-MediumItalic";
  src: url(/_next/static/media/GeneralSans-MediumItalic.b37bd3e5.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Semibold";
  src: url(/_next/static/media/GeneralSans-Semibold.bd2e31d9.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-SemiboldItalic";
  src: url(/_next/static/media/GeneralSans-SemiboldItalic.b935fc7b.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Bold";
  src: url(/_next/static/media/GeneralSans-Bold.ae798fbc.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-BoldItalic";
  src: url(/_next/static/media/GeneralSans-BoldItalic.1dc66636.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./public/fonts/Ramona/Ramona.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Ramona";
  src: url(/_next/static/media/Ramona.741aebc8.ttf) format("ttf");
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/PresentText/PresentText.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.Info {
  display: flex;
  flex-direction: column;
  color: #F0F0F0;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.54);
  font-size: 4rem;
  line-height: 116%;
  margin-top: 3rem;
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */ /* для IE */
  user-select: none;
}

.UnderInfo {
  margin-top: 1rem;
  color: rgba(240, 240, 240, 0.58);
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */ /* для IE */
  user-select: none;
  margin-bottom: 5rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./public/fonts/Satoshi/css/satoshi.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Satoshi-Variable";
  src: url(/_next/static/media/Satoshi-Variable.d9396795.woff2) format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url(/_next/static/media/Satoshi-VariableItalic.7c85d340.woff2) format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url(/_next/static/media/Satoshi-Light.d3f699ab.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url(/_next/static/media/Satoshi-LightItalic.0d87c97a.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url(/_next/static/media/Satoshi-Regular.b1dca2a5.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url(/_next/static/media/Satoshi-Italic.3eb4bb53.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url(/_next/static/media/Satoshi-Medium.22539d17.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url(/_next/static/media/Satoshi-MediumItalic.17afee50.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url(/_next/static/media/Satoshi-Bold.12084922.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url(/_next/static/media/Satoshi-BoldItalic.e51fcc53.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url(/_next/static/media/Satoshi-Black.c6d20a6b.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url(/_next/static/media/Satoshi-BlackItalic.5400951d.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/Newsletter/Newsletter.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.Newsletter {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  background: url(/_next/static/media/Newsletter.09b0ff45.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 21rem;
}

.EmailField {
  display: flex;
  width: 24.375rem;
  padding: 0.875rem 1.125rem 0.875rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  color: rgba(255, 255, 255, 0.81);
  background: url(/_next/static/media/EmailField.b349f890.svg);
  background-size: 100% 100%;
  margin-top: 1rem;
}

.EmailField input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.81);
}

.EmailField input::placeholder {
  color: rgba(255, 255, 255, 0.81);
}

.EmailField input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.81);
}
.EmailField input::-webkit-search-decoration, .EmailField input::-webkit-search-cancel-button, .EmailField input::-webkit-search-results-button, .EmailField input::-webkit-search-results-decoration {
  display: none;
}

.Mailing {
  display: flex;
  flex-direction: column;
  width: 1024px;
  padding-left: 3.81rem;
  margin-top: 4.69rem;
}

.MailingText1 {
  color: #F0F0F0;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-family: GeneralSans-semibold;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: bottom;
  -webkit-user-select: none;
  /* для Safari */
  -moz-user-select: none;
  /* для Firefox */
  /* для IE */
  user-select: none;
}

.MailingText1 p {
  margin-right: 1.13rem;
}

.MailingText2 {
  color: #F0F0F0;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-family: GeneralSans-semibold;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  -webkit-user-select: none;
  /* для Safari */
  -moz-user-select: none;
  /* для Firefox */
  /* для IE */
  user-select: none;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/NewsContentSlider/NewsContentSlider.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SliderItem {
  border-radius: 19px;
  background: rgba(25, 25, 28, 0.42);
  display: inline-flex;
  flex-direction: column;
  height: 346px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 381px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.SliderContent {
  display: flex;
  will-change: transform;
  gap: 20px;
  flex-direction: row;
  transition: transform 400ms ease 0s;
  width: 100%;
}

.HeadNews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
  height: auto;
  padding-bottom: 1.56rem;
}

.SliderItemContent {
  display: flex;
  flex-direction: column;
  height: 21.6rem;
  width: 100%;
  align-items: flex-start;
}

.SliderItemImg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.SliderItemImg img {
  width: 23.8rem;
  height: 12.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.SliderItemTitle {
  font-size: 20px;
  width: 20.5625rem;
  font-weight: bold;
  margin-bottom: 1.69rem;
  padding-left: 20px;
}

.SliderItemDate {
  font-size: 16px;
  color: #666;
  padding-top: 20px;
  padding-left: 20px;
}

.InTheNews {
  display: flex;
  flex-direction: column;
  width: 64rem;
}

.InTheNewsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.InTheNewsText {
  display: flex;
  align-self: flex-end;
}

.InTheNewsText p {
  color: #F0F0F0;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.54);
  font-size: 2rem;
  font-family: GeneralSans-semibold;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
}

.NewsArrows {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

.NewsArrowsLeft,
.NewsArrowsRight {
  height: 42px;
  width: 42px;
  background: url("/_next/static/media/Ellipse 9.9730e371.svg") no-repeat;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
}

.NewsArrowsRight.disabled {
  pointer-events: none;
  background-position: center;
}

.NewsContentSliderContainer {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.NewsArrowsLeft.disabled {
  pointer-events: none;
  background-position: center;
  transform: scale(-1, 1);
}

.NewsArrowsRightBtn.disabled {
  background: url(/_next/static/media/arrow2.44e8476c.svg) no-repeat;
  pointer-events: none;
  background-position: center;
  transform: scale(-1, 1);
}

.NewsArrowsLeftBtn.disabled {
  transform: scale(-1, 1);
  background: url(/_next/static/media/arrow2.44e8476c.svg) no-repeat;
  pointer-events: none;
  background-position: center;
}

.NewsArrowsLeftBtn {
  background: url(/_next/static/media/arrow.ccf956f0.svg) no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  transform: scale(-1, 1);
}

.NewsArrowsRightBtn {
  background: url(/_next/static/media/arrow.ccf956f0.svg) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/BuildInfoSlider/BuildInfoSlider.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BuildInfoTabsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-right: 0;
}

.BuildInfoTabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 64rem;
  padding-bottom: 1.56rem;
}

.BuildBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.25rem;
  padding-bottom: 1.56rem;
}

.buttonTab {
  border-radius: 0.875rem;
  background: rgba(25, 25, 28, 0.88);
  display: inline-flex;
  height: 2.875rem;
  padding: 0rem 1.0625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.BuildHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.BuildHeader h1 {
  color: #F0F0F0;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.54);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  width: 100%;
}

.tabcontent {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1.1875rem;
  overflow: hidden;
  height: 17.4rem;
  background: url(/_next/static/media/BuildInfoSliderBg.9ee04add.svg) no-repeat;
}

.BuildInfoSliderItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.BuildInfoSliderItemImg {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 26.3rem;
}

.BuildInfoSliderItemImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.BuildInfoSliderItemText {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 30rem;
  height: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 3.5rem;
}

.BuildInfoSliderItemText h2 {
  color: #ffffff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.54);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 1.5rem;
}

.BuildInfoSliderItemText p {
  color: #ea6b6b;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttonTab.active {
  background: #f36c80;
  color: #F0F0F0;
}
